  <div class = "center">
<div class = "adjust">
    <div class = "logobody">
      <div class = "logoformat">
        <%= image_tag "money.png", width: 450, height: 300%>
      </div>

      <div class = "sulitayoslogo">
        <%= image_tag "SA.png", width: 400, height: 200%>
      </div>
      
      <div class = "quote">
        <blockquote>
          <font face = "Georgia">
            <h4> "Training website for rails. Made by Christian Michael Dollosa
            and Nicole Tan."</h4>
          </font>
        </blockquote>
      </div>
    </div>

    <br /><br />
      <div class = "container marketing">
        <div class = "row">
          <div class = "span4">

            <div class = "articleformat">
              <%= image_tag "s3.png", width: 100, height: 100%>
            </div>

            <br />
            <h4> Welcome User! </h4>
            <div class = "articlebody">
            <p>Sign up and interact with different shops around the world!
            Subscribe to allot of online shops that suites your needs.
            </p>
            </div>
          </div>

          <div class = "span4">

            <div class = "articleformat">
              <%= image_tag "s1.png", width:100, height: 100%>
            </div>

            <br />
            <h4> Credible </h4> 
            <div class = "articlebody">
            <p>
            Afraid of scammers? Don't fret! Sulit at Ayos has a credibility
            meter to gauge the user's performance
            <%= request.remote_ip %>
            </p>

            </div>
          </div>

          <div class = "span4">
            <div class = "articleformat">
              <%= image_tag "s2.png", width: 100, height: 100%>
            </div>

            <br />
            <h4> Manage your Store! </h4>
            <div class = "articlebody">
            <p>
            Create your own online shop by uploading photos of your
            products. Interact with a lot of users, trade and subscribe with them!
            </p>
            </div>
         </div>
        </div>
      </div>

      <br /><br />
      <div class = "container marketing">
        <div class = "row">
          <div class = "span6">

            <div class = "articleformat">
              <%= image_tag "shop.png", width: 400, height: 300%>
            </div>
          </div>

          <div class = "span5">
            <div class = "articleformat">
              <%= image_tag "us.png", width: 100, height: 100%>
            </div>

            <br />
            <h4> Interact with shops around the world! </h4>
            <div class = "articlebody">
            <p>
            Create your own online shop by uploading photos of your
            products. Interact with a lot of users, trade and subscribe with them!
            </p>
            </div>
            <div class = "articlebody">
            <p>
            Create your own online shop by uploading photos of your
            products. Interact with a lot of users, trade and subscribe with them!
            </p>
            </div>
            <div class = "articlebody">
            <p>
            Create your own online shop by uploading photos of your
            products. Interact with a lot of users, trade and subscribe with them!
            </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
