<div class = "prodlist1">
  <div class = "borderlist2">
  <h3><%= yield(:title) %></h3>
  <table class = "table table-striped">
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  <% @sulats.each do |sulat| %>
    <tr>
      <td><%= sulat.receiver.firstname %> <%= sulat.receiver.lastname %></td>
      <td><%= sulat.subject %></td>
      <td><%= sulat.created_at %></td>
      <td><%= link_to "Show", sulat_path(sulat.id) %>
          <%= link_to "Delete", sulat, :method => "delete",
            data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
    </table>
    <%= will_paginate @sulats %>
</div>

