<div class = "adjust">
<h3>Reply Message</h3>



<%= form_for(@reply) do |m| %>
  <div>
    Recipient: <%= @recipient.email %>
  </div>
  <br />
  <div><%= m.label :subject %>
    <%=m.text_field  :subject  %></div>

  <div><%= m.label :Message %><br />
    <%=m.text_area  :msgbody %></div>

  <div><%= m.submit "Send Message", class: "btn btn-info" %></div>
<% end %>
</div>
