<div class = "adjust">
<h3>Compose Message</h3>

<%= form_for(@sulat) do |m| %>
    <div>
      <% unless params[:user_id] %>
        <%= m.select :recipient_id, User.values_for_select %>
      <% else %>
        Recipient: <%= @recipient.email %>
        <%= m.hidden_field :recipient_id, value: @recipient.id %>
      <% end %>
    </div>

    <div><%= m.label :subject %><br />
      <%=m.text_field :subject %></div>

    <div><%= m.label :Message %><br />
      <%=m.text_area  :msgbody %></div>
  </div>

  <div>
    <%= m.submit "Send Message", class: "btn btn-info" %>
  </div>

<% end %>

</div>
