<h2>SHOW MAIL</h2>
From:<%= @sender.email %><br />
To: <%= @recipient.email %><br />
Subject: <%= @sulat.subject %><br />
<br />
Message:<br />
<%= @sulat.msgbody %>
<br /><br />
<%= link_to "Reply", edit_sulat_path, :method => "get", class: "btn btn-inverse"%>
<%= link_to "Delete", @sulat, :method => "delete",
                      data: { confirm: "You sure?" }, class: "btn btn-inverse" %>

