<div class = "adjust">
<h4>Show Mail</h4>
From:<%= @sender.email %><br />
To: <%= @recipient.email %><br />
Subject: <%= @sulat.subject %><br />
<br />
Message:<br />
<%= @sulat.msgbody %>
<br /><br />
<%= link_to "Reply", edit_sulat_path, :method => "get", class: "btn btn-info"%>
</div>
